@include css-select ($white,$black);

* {
	@include box-sizing (border-box);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    -webkit-text-size-adjust: 100%;
}

a,input[type="submit"],button {
	cursor: pointer;
	@include no-select;
}

a {
	color: inherit;
	text-decoration: none;
	@include no-select;
}

img {
	@include no-select;
}

// Variables
// -------------------------------------

$maxWrapperWidth: 1280px;
$minWrapperWidth: 980px;
$minWrapperHeight: 600px;
$outerMarginWidth: 100px;

// Layout
// -------------------------------------

body, html {
	width: 100%;
	height: 100%;
	background: $lightGrey;
}

.wrapper {
	position: relative;
	background: $white;
	overflow: hidden;

	width:100%;
	height:100%;
	max-width:$maxWrapperWidth;
	min-width:$minWrapperWidth;
	min-height:$minWrapperHeight;

	margin:0 auto;

	// @include transition (opacity 500ms ease);	
}

// Credits overlay

.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align: center;
}

.overlay.closed {
	display:none;
}

.overlay.open {
	display:block;
}


// Outer margins

.left-margin, .right-margin {
	width: $outerMarginWidth;
	height: 100%;

	position: absolute;
	top:0;
}

.left-margin {
	left:0;
}

.right-margin {
	right:0;
}

.object-side-caption {
	margin:15% auto;
	transform: rotate(-90deg);
}


// Main content area
// ----------------------------------

.content-area {
	position: relative;
	margin-left: $outerMarginWidth;
	height:100%;
}

// Text area

.text-content-column {
	height:100vh;
	overflow: auto;
}

.object-header {
	text-align: center;
	// height:100vh;
	// top:50%;
}

.object-header-inner {
	transform: translateY(-60%);
    margin-top: 50vh;
}

.object-text {}

// Image area

.image-content-column {
	height:100%;
}

.object-image-wrapper {
	height:100vh;
}

.object-image {
	width:80%;
	height:70%;
	margin:0 auto;
	transform: translateY(20%);
}

.object-image img {
	display:block;
	margin:0 auto;
	max-width:100%;
	max-height: 100%;
	
}

.object-image-copyright {
	width:80%;
	margin:0 auto;
	text-align:center;
}


// Tech info panel

.technical-info {
	position: absolute;
	width:50%;
	top:0;
}

.technical-info.closed {
	right:-50%;
}


// MISC GLOBAL ELEMENTS
// -------------------------------------



// HEADER && FOOTER
// ------------------------------------
